<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Canibal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canibal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canibal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{264,0},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canibal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{396,0},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canibal_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{528,0},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Canibal_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{660,0},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{792,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddea79400ab19310c2cd356928fd1b77:3fc298d92086f2c0e79f0ba1b138acbc:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
