<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-54}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{495,163},{92,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,40}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{495,257},{160,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,59}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{631,1},{150,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,70}</string>
                <key>spriteSize</key>
                <string>{142,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{653,257},{142,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-47}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{631,153},{102,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>e_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{128,188}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{339,1},{128,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{169,235},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{166,220}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{1,235},{166,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{168,232}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{166,222}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{327,227},{166,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{166,224}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{171,1},{166,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,38}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{168,236}</string>
                <key>textureRect</key>
                <string>{{469,1},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ee.png</string>
            <key>size</key>
            <string>{750,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bcabbd4d179d94235138257866e048:47c8ec9ead5ca3bc4eb17c53ee609236:93668c020875a4be6b3a847ff7a83c44$</string>
            <key>textureFileName</key>
            <string>ee.png</string>
        </dict>
    </dict>
</plist>
