<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CanibalZombie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,192},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,192},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,192},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,288},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,288},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,288},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,288},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,384},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,384},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,384},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,384},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,480},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,480},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,480},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,480},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,576},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,576},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,576},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,576},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,672},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,672},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,672},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,672},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,768},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,768},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,768},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,768},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,864},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,864},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,864},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,0},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,864},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,960},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,960},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,960},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,960},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1056},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1056},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1056},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1056},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1152},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1152},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1152},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1152},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1248},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1248},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1248},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1248},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1344},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1344},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1344},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,96},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1344},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1440},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1440},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1440},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1440},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1536},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1536},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1536},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1536},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1632},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,96},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1632},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1632},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1632},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1728},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1728},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1728},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1728},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1824},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1824},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1824},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,96},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{384,1824},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,1920},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{128,1920},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{256,1920},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CanibalZombie_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{0,192},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CanibalZombie.png</string>
            <key>size</key>
            <string>{512,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1721209e6b40a22decab21e4e9e2763:2450abee19bba5a49534fad77188784e:0aa3b8cca2efd71fd577bf963f4a7bb3$</string>
            <key>textureFileName</key>
            <string>CanibalZombie.png</string>
        </dict>
    </dict>
</plist>
