<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{150,194}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{205,317},{150,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{154,204}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{1,159},{154,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{99,108}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{1,714},{99,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{219,712},{103,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{223,611},{99,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{99,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{117,611},{99,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,114}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{1,609},{103,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{111,714},{99,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{140,202}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{1,467},{140,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,198}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{205,469},{140,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{150,202}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{1,315},{150,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,204}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{156,200}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{207,159},{156,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,204}</string>
                <key>spriteSourceSize</key>
                <string>{156,204}</string>
                <key>textureRect</key>
                <string>{{207,1},{156,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{325,713},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{93,100}</string>
                <key>spriteSourceSize</key>
                <string>{103,118}</string>
                <key>textureRect</key>
                <string>{{325,611},{93,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fe.png</string>
            <key>size</key>
            <string>{421,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17691c441df807b2478cd662b6844417:45a3b2971a77e4f573d1b6a6984501cd:feb028ebe1fa775eb87307c7270dcf0d$</string>
            <key>textureFileName</key>
            <string>fe.png</string>
        </dict>
    </dict>
</plist>
